.git
.gitignore
.gitattributes
.idea
.vscode
.fleet
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.cache
.phpunit.result.cache
tests
*.md
*.xlsx
*.csv
docker-compose*.yml
Dockerfile
